@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik&display=swap');

/* font-family: 'Playfair Display', serif;
font-family: 'Rubik', sans-serif; */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

/* NavBar Starts */
    nav{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 100px;
        box-sizing: border-box;

    }

    #nav-right{
        display: flex;
        width: 150px;
        justify-content: space-evenly;
        align-items: center;
    }

    #logo, #cart-1{
        height: 35px;
    }

    #nav-right-text{
        display: flex;
        justify-content: space-evenly;
        font-weight: 700;
    }
/* Navbar ends */

/* Header Starts */
    header{
        height: 430px;
        width: 100vw;
        background: url(./assets/kw-background.png);
        background-size: 100% 100%;
        position: relative;
    }

    #header-text{
        color: white;
        position: absolute;
        left: 100px;
        top: 80px;
    }

    h1{
        font-family: 'Playfair Display', serif;
        font-size: 60px;
        line-height: 70px;
        font-weight: 500;
        margin-bottom: 25px;
    }
/* header ends */

/* Product display starts */
    #main{
        padding: 130px 100px;
        width: 100vw;
        box-sizing: border-box;
    }

    h3{
        font-family: 'Playfair Display', serif;
        font-size: 25px;
    }

    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 150px;
    }

    .item{
        padding: 10px 0px;
    }

    .item>img{
        height: 250px;
    }

    h4{
        font-size: 18px;
        font-weight: 700;
    }

    h6{
        font-size: 15px;
        color: grey;
        margin: 10px 0px;
        font-weight: 400;
    }

    .price{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button{
        background-color: #6196FF;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65px;
        font-weight: 700;
    }

    button>img{
        height: 20px;
    }
/* Product display ends */

/* Footer starts */
    footer{
        height: 200px;
        width: 100vw;
        padding: 0px 100px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        background-color: black;
        color: white;
        align-items: center;
        font-weight: 400;
    }

    #footer-left>img{
        height: 150px;
        width: 150px;
        border-radius: 75px;
    }

    #footer-right{
        text-align: end;
    }

    h5>a{
        text-decoration: none;
        color: white;
    }
/* Footer ends */

/* Making the web page responsive */

@media (max-width: 500px){
    body{
        text-align: center;
    }

    #main{
        padding: auto;
        margin: auto;
    }

    #nav-right-text{
        display: block;
    }

    header{
        height: 200px;
        position: relative;
    }

    #header-text{
        position: absolute;
        left: 20px;
        top: 0px;
        text-align: left;
        width: 100px;
        font-weight: 700;
    }

    h1{
        font-size: 30px;
        line-height: 35px;
        
    }

    .content{
        flex-wrap: wrap;
        justify-content: center;
    }

    nav{
        padding: 0px 20px;
    }

    footer{
        height: 230px;
        padding: 0px 20px;
    }

}